@charset "utf-8";

@media (max-width: 993px) { 

    #restaurant-maincontent {
        display: flex;
        flex-direction: column;
    }

    .inside #map-container,
    #restaurant-container, 
    #reviews-container {
        width: auto;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    nav h1 a {
        letter-spacing: 7px;
    }

}